/* Apply background color to the nav element */
nav {
    padding: 20px;
    background-color: #2b2d31;
    color: #fff; 
    width: 100%; 
    top: 0;
    left: 0;
    border-bottom: 0.9px solid rgb(26, 26, 26);
}

.list {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center the content */
}

.nav-links {

    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center the content */
    flex-grow: 1; /* Allow the links to grow and take up available space */
}

.login {
    /* No margin-left:auto; */
    margin-left: auto; /* Remove the margin-left */
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

a:hover {
    color: orange;
}

/* Mobile version */
@media screen and (max-width: 768px) {

    .nav-links {
        flex-direction: column;
        flex-grow: 0;
        justify-content: flex-start;
        align-items: flex-start;
    }

    li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .login {
        margin-left: 0;
    }

    .list {
        flex-direction: column;
        align-items: flex-start;

    }
    ul{
        list-style: none;
    }

}
