
body {
    margin-top: 0;
    margin-left: -1px;
    padding: 0;
    height: 100vh; /* 100% viewport height */
    width: 101%;   /* 100% viewport width */
    background-color: #313338;
    position: fixed; 
    top: 0;
    left: 0;
    
    
}