<div class="landing">
    <div>
        <h1 class="title">What is OpenLecture?</h1>
    </div>

    <div class="section">
        <div class="image1-container">
            <img src="\assets\image1.jpg" class="image1 fade-in" [ngClass]="{'fade-in-active': showImages}">
        </div>
        <p class="text1 fade-in" [ngClass]="{'fade-in-active': showImages}">OpenLecture.io is an open source learning web application, where you can take <a href="#" class="hov">Obsidian notes</a>,
             listen to & share <a href="#" class="hov">music</a>, customize your <a href="#" class="hov">classroom</a>, and message others in public chats!
        </p>    
    </div>

    <div class="section">
        <p class="text2 fade-in" [ngClass]="{'fade-in-active': showImages}">We aim to <a href="#" class="hov">centralize</a> the aspects of studying that are often overlooked. Learning applications offered by universities
            and colleges often ignore the most important part of studying- setting up the right atmosphere! What's more is we want you to share this atmosphere with your friends! When you <a href="#" class="hov">signup</a>, 
            you can customize your page with <a href="#" class="hov">music playlists</a>, <a href="#" class="hov">wallpapers</a>, and <a href="#" class="hov">animations</a>. People can study alongside you, messaging you questions- with you acting as the lecturer! 
       </p>  
        <div class="image2-container">
            <img src="\assets\image2.jpg" class="image2 fade-in" [ngClass]="{'fade-in-active': showImages}">
        </div>
    </div>

    <div class="section page-bottom">
        <div class="image3-container">
            <img src="\assets\image3.png" class="fade-in" [ngClass]="{'fade-in-active': showImages}">
        </div>
        <p class="text3 fade-in" [ngClass]="{'fade-in-active': showImages}"><a href="#" class="hov">Obsidian</a> style notes, are notes that can be <a href="#" class="hov">hyperlinked</a>. Think of wikipedia articles, and how each page connects to another.
            What makes Obsidian style notes special, is the ability to visualize them! You can interconnect sub-topics in your notes with other notes, or even music! And OpenLecture will automatically
            visualize your ideas. We call this "Node-view", as the notes you take will be displayed as nodes in a <a href="#" class="hov">graph</a>
        </p>
    </div>


</div>
